<%= form_for(@post) do |f| %>
  <div class="mdl-cell mdl-cell--12-col">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.label(:title, class: "mdl-textfield__label") %>
      <%= f.text_field(:title, class: "mdl-textfield__input") %>
    </div>
  </div>

  <div id="sketch_field">
    <%= f.text_area(:skech, class: "svg-data") %>
    <div id="canvas"></div>
    <a onclick="editor.deleteAll()" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Clear</a>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <div class="actions">
      <%= f.submit(class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored") %>
    </div>
  </div>
<% end %>

<%= javascript_include_tag 'sketch' %>