<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sketchers</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- No header, and the drawer stays open on larger screens (fixed drawer). -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title"><%= gravatar_tag(current_user.try(:avatar_image_url)) %> Sketchers</span>
      <nav class="mdl-navigation">
        <%= link_to('トップページ', root_path, class: "mdl-navigation__link") %>
        <%= link_to('絵を描く', new_post_path, class: "mdl-navigation__link") %>
        <%= link_to_if(current_user.try(:admin?), '管理ページ', admin_posts_path, class: "mdl-navigation__link"){} %>
        <%= link_to_if(user_signed_in?, 'ログアウト', destroy_user_session_path, method: :delete, class: "mdl-navigation__link") do
              link_to('ログイン', new_user_session_path, class: "mdl-navigation__link")
        end %>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <%= yield %>
      </div>
    </main>
  </div>

</body>
</html>
